* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../asset/image/background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul.right {
    margin-left: auto; 
}

.navbar ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

  
  .sphere {
    fill: #6eace9;
  }
  
  .country {
    
    stroke: black;
    stroke-width: 0.05;
  }
.country:hover{
    fill: red;
}

#legend {
    width: 20%;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    padding: 20px;
}
.container #lineChart {
    position: fixed;
}
.axis path,
.axis line {
  fill: none;
  stroke: #ffffff; /* White color for the axes */
  shape-rendering: crispEdges;
}

.grid .tick line {
  stroke: #777777; /* Dark gray color for the gridlines */
  stroke-opacity: 0.5;
}

.grid path {
  stroke-width: 0;
}
.svg path {
    fill: #ffffff; /* White color for the tick labels */
  }
.svg text{
    text-anchor: end;
    fill: white
}
#backToMap li {
    cursor: pointer;
}